Android Open Source Project/
!Code/User/keybindings.json
!Code/User/settings.json
Code/*
autostart/
baloofileinformationrc/
appium-inspector/
BraveSoftware/
ClickUp/
configstore/
dconf/
Cypress/
Cursor/
blender/
discord/
dolphinrc/
Electron/
esmaltemaster/
evolution/
flameshot/
flipper/
Flipper/
flipper-launcher/
glib-2.0/
Google/
google-chrome/
gpick/
gtk-2.0/
gtk-3.0/
gtk-4.0/
kconf_updaterc/
kdeglobals/
kde.org/
kritadisplayrc/
kritarc/
LICENSE/
matplotlib/
mimeapps.list/
mpv/
nautilus/
ncspot/
neofetch/
nomic.ai/
obs-studio/
packages-list/
transmission/
go/
Ultralytics/
pavucontrol.ini/
guvcview2/
PCSX2/
picom.conf.backup/
Pinta/
Postman/
presets/
pulse/
QtProject/
QtProject.conf/
React Native Debugger/
README.md/
REAPER/
people/
LM Studio/
libreoffice/
Realm Studio/
remmina/
retroarch/
session/
spicetify/
spotify/
teamviewer/
termite/
tqs/
userChrome.css/
user-dirs.dirs/
user-dirs.locale/
VirtualBox/
yay/
yugiohfm/
baloofileinformationrc
dolphinrc
kconf_updaterc
kdeglobals
kritadisplayrc
kritarc
pavucontrol.ini
picom.conf.backup
QtProject.conf
htop/htoprc
ranger/plugins/__pycache__/__init__.cpython-310.opt-1.pyc
ranger/plugins/__pycache__/__init__.cpython-311.pyc
htop/htoprc
ktrashrc
kservicemenurc
filetypesrc
kiorc
mimeapps.list
trashrc
